html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#mesa{
    margin: 0;
    left: 0;
    top: 0;
    width: 99vw;
    min-height: 800px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#refresh, .uid{
    cursor: default;
}

#refresh:hover, .uid:hover{
    opacity: 0.7;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

