html, body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#mesa{
    margin: 0;
    left: 0;
    top: 0;
    width: 99vw;
    min-height: 800px;
    text-align: center;
    align-items: center;
    justify-items: center;
}

#refresh, .uid{
    cursor: default;
}

#refresh:hover, .uid:hover{
    opacity: 0.7;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.hidden-list, .hidden-list > li{
    display: none;
    background: transparent !important;
    max-height: 0;
    opacity: 0;
    transition: max-height opacity 0.5s ease-out;
}

.visible-list, .visible-list > li{
    display: block;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 1s ease-in;
}

.highlight-user{
    background: #F8F8F8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #e4f1fe, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #e4f1fe, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}